# temporary files
*~
*.swp
*.swo

# python files
__pycache__/
*.py[cod]

# virtual env
venv/
.env/

# log files
*.log

#system files
.DS_Store

# vs code files
.vscode/

# plots
plots/

# raw
raw/

#reco
reco/